<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GTPS</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="/javascripts/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="/javascripts/bootstrap.min.js"></script>

  <!--My StyleSheets-->
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<div class="jumbotron" id="mybox-wrapper">

  <!--Nav-Bar-->
  <nav class="navbar navbar-default">
    <div class="container">

      <button type="button" class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">G&T Property Solutions</a>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Properties<b
                      class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Payson Duplex</li>
              <li><a href="#">335 North 600 East</a></li>
              <li><a href="/duplexA">595 East 300 North</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Payson Farm</li>
              <li><a href="#">Apartment A</a></li>
              <li><a href="#">Apartment B</a></li>
              <li><a href="#">Apartment C</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms<b
                      class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Rental Application</a></li>
              <li><a href="#">Sample Lease</a></li>
              <li><a href="#">Background Check</a></li>
            </ul>
          </li>
          <li class="disabled"><a href="#">Make Payment</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!--Page-->
  <div class="container-fluid">

    <!--Title & Logo-->
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>G & T Property Solutions</h3>
        <img style="max-height: 100px; width: 25%; margin-bottom: 0px" src="/images/GPSLogo.jpg" alt="GPS Logo">
        <p class="text-muted" style="font-size: small; margin-top: 0px">"Welcome Home"</p>
      </div>
    </div>

    <!--Image Carousel-->
    <div class="row myCarousel">
      <div id="myCarousel" class="carousel slide col-sm-12" style="max-height: 300px" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a href="/duplexA"><img style="max-height: 300px; width: 100%" src="/images/Duplex/595E_300N/01.JPG" alt="595E 300N 01">
              <div class="carousel-caption">
                <h4>Payson Duplex - 595 E 300 N</h4>
                <p>4 bedrooms, 3 full baths, laundry and storage rooms.</p>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="/duplexB"><img style="max-height: 300px; width: 100%" src="/images/Duplex/335N_600E/01.JPG" alt="335N 600E 01">
              <div class="carousel-caption">
                <h4>Payson Duplex - 335 N 600 E</h4>
                <p>3 bedrooms, 3 full baths, laundry and storage rooms, clothes washer & dryer included.</p>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="/farm"><img style="max-height: 300px; width: 100%" src="/images/farm/01.JPG" alt="10592 S 5600 W">
              <div class="carousel-caption">
                <h4>Payson Farm - 10592 S 5600 W</h4>
                <p>2.5 bedrooms, 1.5 baths, laundry room.</p>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="/farmA"><img style="max-height: 300px; width: 100%" src="/images/farm/01.JPG" alt="10592 S 5600 W">
              <div class="carousel-caption">
                <h4>Payson Farm - 10592 S 5600 W -A</h4>
                <p>1 bedroom, 1 bath with laundry included.</p>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="/farmB"><img style="max-height: 300px; width: 100%" src="/images/farm/01.JPG" alt="10592 S 5600 W">
              <div class="carousel-caption">
                <h4>Payson Farm - 10592 S 5600 W -B</h4>
                <p>2 bedrooms, 1 bath, laundry included.</p>
              </div>
            </a>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!--Content-->
    <div class="row">
      <div class ="col-md-2"></div>
      <div class="col-md-9 jumbotron myjumbotron">
        <div class="col-md-9">
          <p>
            We’re excited to highlight one of our favorite tropical fruits, mangos!  This juicy fruit is the featured fruit in our Monthly Harvest Club for May, and is also available as a fruit gift box – buy this fruit box now, and save 10% in May 2016!   Mangos are one of the most popular fruits in the world!

            First grown in India over 5,000 years ago, mangos require warm, dry weather for premium quality fruit.  They are grown in tropical areas – where the atmosphere is perfect for this sweet, flavorful fruit.  Mangos are low in calories and high in fiber, and used in many recipes like low-fat desserts, smoothies, salads, muffins or alongside sweet white rice.  One cup of mango is just 100 calories, and they also provide your daily serving of Vitamin C.

            Choosing a mango is an art. You can’t always judge a ripe mango by it’s color.  Instead, you should go off how the mango feels when squeezed gently.  If it gives slightly, then it should be ready for consumption.  Also the aroma from the stem is another indication.  If you have a firm mango, allowing it to sit on your counter top for a few days should be all it needs.  You can also place the mango in a paper bag at room temperature to speed up the ripening process.

            Most commonly, mangos are cut away from the pit, which is large, then peeled before their use.
          </p>
        </div>
        <div class="col-md-3">
          <aside>
            <p>
              Scott  Webster, The Fruit Company CEO, his father and his grandfather have been growing Comice Pears in Hood River, Oregon since 1942.  As the largest grower of gourmet Comice Pears in the Hood River Valley,
              Scott decided to utilize his mother Mary’s idea,
              to bring Chocolate Covered Comice Pears to eager consumers across the nation.
            </p>
          </aside>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

    <!--Footer-->
    <div class="row">
      <footer class="col-sm-12 text-center" style="margin-top: 20px">
        <a href="/contactInfo"><p class="white">Contact us</p></a>
      </footer>
    </div>

  </div>

</div>
</body>
</html>